<div class="character">
    Character Name: <%= link_to character.name, rating_character_path(@rating, character) %><br>
    <p>
    Role: <%= character.role %><br>
    </p>

    <%= link_to "Edit", edit_rating_character_path(@rating, character), class: "btn btn-primary" %>
    <%= link_to "Delete", rating_character_path(@rating,character), method: :delete, data:{confirm: "Are you sure?" }, class: "btn btn-danger" %>
    
</div>